In [1]:
import pandas as pd

In [3]:
file_path = '../csv/반려동물_유무_취득경로.csv'
df = pd.read_csv(file_path, header=2)
df

,구분별(1),구분별(2),있다,없다,동물판매업소(애견판매업소 동물병원 등),친지 친구 등 아는 사람을 통해 유상 입양,친지 친구 등 아는 사람을 통해 무상 입양,인터넷을 통해 구입,유기동물 입양,원래 기르던 동물이 낳은 새끼
0,서울시,소계,22.2,77.8,22.9,19.8,35.5,2.2,12.9,6.8
1,성별,남성,22.8,77.2,21.9,19.0,35.5,2.3,14.0,7.3
2,성별,여성,20.8,79.2,25.9,21.9,35.5,1.8,9.8,5.2
3,연령별,20대 이하,20.0,80.0,12.5,12.4,46.8,1.3,17.2,9.9
4,연령별,30대,20.0,80.0,33.6,15.3,29.8,2.4,18.1,0.7
...,...,...,...,...,...,...,...,...,...,...
58,지역소분류,강동구,25.6,74.4,6.4,18.1,58.4,1.6,13.2,2.2
59,직업분류,관리전문직,31.6,68.4,16.8,15.7,40.4,3.7,21.1,2.3
60,직업분류,화이트칼라,22.6,77.4,26.3,22.2,35.0,1.9,12.3,2.3
61,직업분류,블루칼라,18.8,81.2,25.0,21.8,33.3,2.0,13.8,4.1
62,직업분류,기타,20.2,79.8,17.6,14.6,34.4,1.6,3.8,28.0

In [5]:
selected_rows = df[df['구분별(1)'] == '지역소분류']
selected_rows.head()

,구분별(1),구분별(2),있다,없다,동물판매업소(애견판매업소 동물병원 등),친지 친구 등 아는 사람을 통해 유상 입양,친지 친구 등 아는 사람을 통해 무상 입양,인터넷을 통해 구입,유기동물 입양,원래 기르던 동물이 낳은 새끼
34,지역소분류,종로구,33.9,66.1,13.8,25.0,36.4,1.6,17.2,6.1
35,지역소분류,중구,14.7,85.3,28.3,17.7,40.0,2.5,2.6,8.9
36,지역소분류,용산구,17.1,82.9,18.7,13.2,48.4,2.4,14.9,2.4
37,지역소분류,성동구,19.1,80.9,33.0,11.3,36.1,2.5,15.2,1.9
38,지역소분류,광진구,21.4,78.6,12.5,32.6,33.0,5.8,14.4,1.8

In [7]:
pet_df = selected_rows[['구분별(2)', '있다']]
pet_df.head()

   구분별(2)    있다
34    종로구  33.9
35     중구  14.7
36    용산구  17.1
37    성동구  19.1
38    광진구  21.4

In [11]:
# pet_df의 복사본을 만들고 컬럼 이름 변경
pet_df_copy = pet_df.copy()
pet_df_copy.rename(columns={'구분별(2)': '자치구', '있다': '반려인비율'}, inplace=True)

# 변경된 데이터프레임 사용
# 예: 출력
pet_df_copy.head()

    자치구  반려인비율
34  종로구   33.9
35   중구   14.7
36  용산구   17.1
37  성동구   19.1
38  광진구   21.4

In [12]:
pet_df_copy.sort_values(by="반려인비율", ascending=False, inplace=True)
pet_owner = pet_df_copy
pet_owner

     자치구  반려인비율
56   강남구   44.1
34   종로구   33.9
40   중랑구   30.1
44   노원구   28.4
58   강동구   25.6
47   마포구   23.6
57   송파구   22.6
55   서초구   22.3
54   관악구   22.3
38   광진구   21.4
53   동작구   21.2
42   강북구   21.1
46  서대문구   20.2
41   성북구   20.2
39  동대문구   19.7
43   도봉구   19.4
37   성동구   19.1
52  영등포구   18.4
45   은평구   18.1
50   구로구   17.3
36   용산구   17.1
49   강서구   17.1
48   양천구   15.2
35    중구   14.7
51   금천구   13.5

In [13]:
json_file_path = '../json/반려인.json'
pet_owner.to_json(json_file_path, orient='records', force_ascii=False)

# # 저장된 파일 경로 반환
json_file_path

'../json/반려인.json'