In [19]:
# 코드 실행 상태가 재설정되었으므로, 다시 필요한 라이브러리를 임포트하고 코드를 실행합니다.
import pandas as pd

# 엑셀 파일 불러오기
population_file_path = '../excel/인구밀도_20231130132635.xlsx'

# 엑셀 파일 읽기
df = pd.read_excel(population_file_path, header=0)
df.head()

,동별(1),동별(2),동별(3),2020,Unnamed: 4,Unnamed: 5,2021,Unnamed: 7,Unnamed: 8,2022,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢)
1,합계,소계,소계,9911088,605.23,16376,9736027,605.24,16086,9667669,605.21,15974
2,NaN,종로구,소계,158996,23.91,6649,153789,23.91,6431,152211,23.91,6365
3,NaN,NaN,사직동,9806,1.23,7972,9636,1.23,7834,9355,1.23,7606
4,NaN,NaN,삼청동,2909,1.49,1952,2739,1.49,1838,2642,1.49,1773

In [20]:
# 동별(2)에서 NaN이 아닌 행만 필터링
filtered_df = df[pd.notna(df.iloc[:, 1])]
filtered_df

,동별(1),동별(2),동별(3),2020,Unnamed: 4,Unnamed: 5,2021,Unnamed: 7,Unnamed: 8,2022,Unnamed: 10,Unnamed: 11
1,합계,소계,소계,9911088,605.23,16376,9736027,605.24,16086,9667669,605.21,15974
2,NaN,종로구,소계,158996,23.91,6649,153789,23.91,6431,152211,23.91,6365
20,NaN,중구,소계,134635,9.96,13517,131787,9.96,13231,130785,9.96,13131
36,NaN,용산구,소계,244645,21.87,11188,237285,21.87,10852,233284,21.87,10668
53,NaN,성동구,소계,300505,16.86,17822,292672,16.86,17359,288234,16.82,17136
71,NaN,광진구,소계,360109,17.06,21105,352627,17.06,20666,351252,17.06,20586
87,NaN,동대문구,소계,357014,14.22,25114,352006,14.22,24762,353601,14.22,24873
102,NaN,중랑구,소계,399562,18.5,21603,391885,18.5,21188,390140,18.5,21092
119,NaN,성북구,소계,447056,24.58,18190,440142,24.58,17909,441984,24.58,17983
140,NaN,강북구,소계,311569,23.6,13202,302563,23.6,12820,297702,23.6,12614
154,NaN,도봉구,소계,327361,20.65,15852,319373,20.65,15465,313989,20.65,15205
169,NaN,노원구,소계,527032,35.44,14872,514946,35.44,14530,508014,35.44,14335
189,NaN,은평구,소계,484043,29.71,16292,477173,29.71,16061,470602,29.71,15838
206,NaN,서대문구,소계,322952,17.63,18322,315659,17.63,17908,319554,17.63,18129
221,NaN,마포구,소계,381858,23.85,16011,378686,23.85,15878,375585,23.85,15745
238,NaN,양천구,소계,457781,17.41,26301,450487,17.41,25882,444010,17.41,25509
257,NaN,강서구,소계,585901,41.44,14140,579768,41.45,13986,574638,41.45,13862
278,NaN,구로구,소계,432488,20.12,21496,421163,20.12,20933,418418,20.12,20794
295,NaN,금천구,소계,247835,13.02,19035,244891,13.02,18808,242818,13.02,18649
306,NaN,영등포구,소계,407367,24.55,16595,400908,24.55,16331,398085,24.55,16215
325,NaN,동작구,소계,401572,16.35,24555,394364,16.36,24113,390432,16.36,23870
341,NaN,관악구,소계,509803,29.57,17241,499449,29.57,16891,501226,29.57,16951
363,NaN,서초구,소계,429025,46.98,9132,416167,46.98,8858,408451,46.97,8696
382,NaN,강남구,소계,544055,39.5,13773,537800,39.5,13616,534103,39.5,13522
406,NaN,송파구,소계,673926,33.87,19896,663965,33.88,19599,664514,33.88,19616
434,NaN,강동구,소계,463998,24.59,18869,466472,24.59,18970,464037,24.59,18871

In [26]:
# 필요한 열만 선택
population = filtered_df.iloc[:, [1, 9]]
population

    동별(2)     2022
1      소계  9667669
2     종로구   152211
20     중구   130785
36    용산구   233284
53    성동구   288234
71    광진구   351252
87   동대문구   353601
102   중랑구   390140
119   성북구   441984
140   강북구   297702
154   도봉구   313989
169   노원구   508014
189   은평구   470602
206  서대문구   319554
221   마포구   375585
238   양천구   444010
257   강서구   574638
278   구로구   418418
295   금천구   242818
306  영등포구   398085
325   동작구   390432
341   관악구   501226
363   서초구   408451
382   강남구   534103
406   송파구   664514
434   강동구   464037

In [30]:
# 첫 번째 행인 '소계' 부분을 제거
population = population.iloc[1:]
# 컬럼명 변경
population = population.rename(columns={'동별(2)': '자치구', 2022 : '인구수'})
#인구수 1000으로나눠줌
population['인구수'] = (population['인구수'] / 1000).astype(int)
population

      자치구  인구수
20     중구  130
36    용산구  233
53    성동구  288
71    광진구  351
87   동대문구  353
102   중랑구  390
119   성북구  441
140   강북구  297
154   도봉구  313
169   노원구  508
189   은평구  470
206  서대문구  319
221   마포구  375
238   양천구  444
257   강서구  574
278   구로구  418
295   금천구  242
306  영등포구  398
325   동작구  390
341   관악구  501
363   서초구  408
382   강남구  534
406   송파구  664
434   강동구  464