In [1]:
import pandas as pd

In [2]:
csv_file_path = "../../csv/서울시 동물병원 인허가 정보.csv"
df = pd.read_csv(csv_file_path,encoding='cp949')
df['자치구'] = df['도로명주소'].str.split().str[1]
normal_business = df[df['상세영업상태명'] == '정상']
selected_columns = normal_business[['자치구', '상세영업상태명']]
grouped_counts = selected_columns.groupby('자치구').size().reset_index(name='영업중인병원')
operating_hospitals=grouped_counts.sort_values(by='영업중인병원', ascending=False)
print(operating_hospitals)

     자치구  영업중인병원
0    강남구      86
17   송파구      75
1    강동구      53
14   서초구      51
3    강서구      50
18   양천구      47
12   마포구      45
21   은평구      44
8    노원구      43
19  영등포구      35
16   성북구      34
5    광진구      32
20   용산구      31
24   중랑구      30
6    구로구      30
15   성동구      29
10  동대문구      29
4    관악구      28
2    강북구      26
9    도봉구      26
13  서대문구      25
11   동작구      21
23    중구      20
7    금천구      16
22   종로구      12

In [3]:
#유기동물데이터
file_path = '../../excel/유기동물.xlsx'
df = pd.read_excel(file_path)
df.head()
abandoned_animals = df[['자치구별(2)', 2022]].iloc[4:]
abandoned_animals.rename(columns={'자치구별(2)': '자치구', 2022: '유기동물수'}, inplace=True)
abandoned_animals.head(10)

     자치구 유기동물수
4    용산구   238
5    성동구   165
6    광진구   167
7   동대문구   201
8    중랑구   199
9    성북구   168
10   강북구   270
11   도봉구   137
12   노원구   215
13   은평구   273

In [4]:
#데이터합치기 '자치구' 기준
merged_df = pd.merge(operating_hospitals, abandoned_animals, on='자치구')

# 결과 출력
merged_df

     자치구  영업중인병원 유기동물수
0    강남구      86   147
1    송파구      75   173
2    강동구      53   284
3    서초구      51   130
4    강서구      50   222
5    양천구      47   189
6    마포구      45   286
7    은평구      44   273
8    노원구      43   215
9   영등포구      35   152
10   성북구      34   168
11   광진구      32   167
12   용산구      31   238
13   중랑구      30   199
14   구로구      30   180
15   성동구      29   165
16  동대문구      29   201
17   관악구      28   298
18   강북구      26   270
19   도봉구      26   137
20  서대문구      25   120
21   동작구      21   224
22   금천구      16   148

In [7]:
json_file_path = '../../json/병원(내림)+유기동물.json'
merged_df.to_json(json_file_path, orient='records', force_ascii=False)

# # 저장된 파일 경로 반환
json_file_path

'../../json/병원(내림)+유기동물.json'